*{
    margin: 0;
    padding: 0;
    
}

.movieCard{
    position: relative;
    padding: 15px;
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
}

.movieCard--poster{
    width: 125px;
}

.movieCard-left{
    flex: 1 1 25%;
    margin-right: 25px;
}

.movieCard-right{
    flex: 1 1 75%;
}

.movieCard--rating{
    position: absolute;
    width: 150px;
    background-color: #FF9F45;
    padding: 5px 55px;
    top: 10px;
    left: -40px;
    transform: rotate(-45deg);
    
}